@import '~normalize.css';
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700|Space+Mono:400,700');

body {
  text-align: center;
  font-size: 30px;
  font-family: Arimo;
}

a {
  color: rgb(37, 169, 172);
}

nav {
  display: block;
  a {
    padding: 0.5em;
    margin: 0.2em;
    display: inline-block;
    text-decoration: none;
    &.active {
      color: black;
      font-weight: bold;
    }
  }
}

main {
  max-width: 25em;
  margin: 0 auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

code {
  font-family: 'Space Mono';
  color: #52b166;
}
