.HTMLContent {
  text-align: left;
  font-size: 0.75em;
  blockquote {
    border: 0.15em solid #ccc;
    border-left-width: 0.6em;
    margin-left: 0;
    padding-left: 0.9em;
    margin-right: 0;
    color: #444;
    font-size: 0.8em;
  }
  pre {
    padding: 0.5em;
    border: 2px solid #ddd;
    font-size: 0.8em;
    code {
      font-family: Roboto Mono, monospace;
    }
  }
  h1, h2 {
    margin-top: 2em;
  }
}

code.language-js {
  color: #333;
  .hljs-meta {
    color: #69c;
  }
  .hljs-keyword {
    color: #963;
    font-weight: bold;
  }
  .hljs-string, .hljs-regexp {
    color: #759;
  }
  .hljs-comment {
    color: #693;
  }
}
